/**
 * Layout SCSS Partial
 *
 * @requires framework/_type.scss
 */

.group {
	margin:0 auto;
	max-width:$layout-max-width-wide-unit;
	width:93.75%;

}

.wrapper {
}

main {
  background: $color-white;
  flex: 1;
  margin: 0 0 0 auto;
  overflow: hidden;
  padding: $measure-unit $measure-unit $measure-unit * 3;
  position: relative;
  width: 66.6%;
  z-index:1;
}

hr {
  margin: $measure-unit * 4 auto $measure-unit * 3;
  max-width: rem($layout-max-width /2);
  outline: none;
  border: 0;
  border-top: rem(2) lighten($color-accent, 30%) solid;
  p + & {
    margin-top: rem(60);
  }
}