/**
 * Masthead SCSS Partial
 *
 * @requires framework/_type.scss, framework/_variable.scss
 */

/* ==|== Masthead =================
	General
========================================== */

.masthead {
	background: red;
	height: 100%;
	left: 0;
	padding: $measure-unit;
	position: fixed;
	top: 0;
	width: 33.3%;
	.group {
		margin: 0 0 0 auto;
		max-width: $layout-max-width-unit / 2;
	}
}

/* ==|== Masthead =================
	Logo
========================================== */

.masthead__logo {
	display: block;
	margin: $measure-unit * 2 auto $measure-unit;
	max-width: $layout-max-width-unit;
}